{%extends "base.html"%}

{%block head_title %}about || {{block.super}}{% endblock head_title %}

{%block content%}
<div>
	<h1>About This Site</h1>
	<hr>
	<div class="container-fluid text-white">
		<p>
			This is my playground, to test different CSS, database, models, templates, and other things I find interesting.
		</p>
		<p>
			Blowing up things in here is a lot more fun than blowing up things on the outside, because it's nice and contained and easier to spot errors.
		</p>
	</div>
</div>
{%endblock content%}